.contentBox {
  background-color: red;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .contentBox {
    padding: 1rem;
  }
}