.meetTeam {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .buttonContent {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .meetTeamButton {
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .textContent {
    flex: 1;
    margin-left: 2rem;
  }
  
  .textContent h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
  }
  
  .textContent p {
    font-size: 1rem;
    line-height: 1.5;
    color: black;
  }
  
  @media (max-width: 768px) {
    .meetTeam {
      flex-direction: column;
      align-items: center;
    }
  
    .buttonContent {
      justify-content: center;
      margin-bottom: 1rem;
    }
  
    .textContent {
      margin-left: 0;
      text-align: center;
    }
  }